<aside class="sidebar">
  <div class="container-logo">
    <h4 class="text-light">HelpDesk App</h4>
    <img src="../../assets/logo-test.png" class="image-logo" alt="logo" />
  </div>

  <div class="pages-container mt-5">
    <ul>
      <li *ngFor="let link of links" class="li-items">
        <a
          [routerLink]="link?.routerName"
          class="nav-link-item text-light nav-center"
          ><i
            [class]="link?.icon"
            style="font-size: 0.9rem; margin-right: 0.5rem"
          ></i>
          <span>{{ link?.name }}</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
