<div class="main-content">
  <div class="auth-page">
    <div>
      <div>
        <div class="bg-light rounded p-3">
          <h1 class="text-xs-center">{{ title }}</h1>
          <app-list-errors [errors]="errors"></app-list-errors>
          <form [formGroup]="authForm" (ngSubmit)="submitForm()">
            <fieldset [disabled]="isSubmitting">
              <fieldset class="form-group">
                <input
                  formControlName="username"
                  placeholder="Username"
                  class="form-control form-control-lg"
                  type="text"
                  *ngIf="authType == 'register'"
                />
              </fieldset>
              <fieldset class="form-group mb-2">
                <input
                  formControlName="email"
                  placeholder="Email"
                  class="form-control form-control-lg"
                  type="text"
                />
              </fieldset>
              <fieldset class="form-group mb-5">
                <input
                  formControlName="password"
                  placeholder="Password"
                  class="form-control form-control-lg"
                  type="password"
                />
              </fieldset>
              <div class="d-flex flex-column">
                <button
                  class="btn btn-lg btn-primary mb-2"
                  [disabled]="!authForm.valid"
                  type="submit"
                >
                  {{ title }}
                </button>
                <p class="text-xs-center align-self-center">
                  <a [routerLink]="['/login']" *ngIf="authType == 'register'"
                    >Have an account?</a
                  >
                  <a [routerLink]="['/register']" *ngIf="authType == 'login'"
                    >Need an account?</a
                  >
                </p>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
