<div class="main-content">
  <div class="auth-page">
    <div>
      <div>
        <div class="bg-light rounded p-3">
          <h1 class="text-xs-center">{{ title }}</h1>
          <app-list-errors [errors]="errors"></app-list-errors>
          <form [formGroup]="authForm" (ngSubmit)="handleOnSubmitForm()" ngModel=>
            <fieldset [disabled]="isSubmitting">
              <fieldset class="form-group">
                <input
                  formControlName="names"
                  placeholder="Names"
                  class="form-control form-control-lg"
                  type="text"
                  *ngIf="authType == 'register'"
                  name="names"
                  [(ngModel)]="newRequestUser.names"
                />
              </fieldset>
              <fieldset class="form-group">
                <input
                  formControlName="lastNames"
                  placeholder="LastNames"
                  class="form-control form-control-lg"
                  type="text"
                  *ngIf="authType == 'register'"
                  name="lastNames"
                  [(ngModel)]="newRequestUser.lastNames"
                />
              </fieldset>
              <fieldset class="form-group mb-2">
                <input
                  formControlName="email"
                  placeholder="Email"
                  class="form-control form-control-lg"
                  type="text"
                  name="email"
                  [(ngModel)]="newRequestUser.email"
                />
              </fieldset>
              <fieldset class="form-group mb-2">
                <input
                  formControlName="password"
                  placeholder="Password"
                  class="form-control form-control-lg"
                  type="password"
                  name="password"
                  [(ngModel)]="newRequestUser.password"
                />
              </fieldset>
              <div class="d-flex justify-content-center gap-5 mb-3" *ngIf="authType === 'register'" >
                <section class="d-flex flex-column align-items-center">
                  <label class="form-check-label" for="usuario">Usuario</label>
                  <input type="checkbox" class="form-check-input" id="usuario" (change)="onChangeUser($event)" [value]="isUser" *ngIf="!isAdministrator" />
                </section>
                <section class="d-flex flex-column align-items-center">
                  <label class="form-check-label" for="administrador">Administrador</label>
                  <input type="checkbox" class="form-check-input" id="administrador" (change)="onChangeAdministrator($event)" [value]="isAdministrator" *ngIf="!isUser" />
                </section>
              </div>
              <div class="d-flex flex-column">
                <button
                  class="btn btn-lg btn-primary mb-2"
                  [disabled]="!authForm.valid"
                  type="submit"
                >
                  {{ title }}
                </button>
                <p class="text-xs-center align-self-center">
                  <a [routerLink]="['/login']" *ngIf="authType == 'register'"
                    >Have an account?</a
                  >
                  <a [routerLink]="['/register']" *ngIf="authType == 'login'"
                    >Need an account?</a
                  >
                </p>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
