.header-container-filters  {
  display: grid;
  grid-template-columns: 20% 20% 56.7%;
  gap: 1rem;
} 

.card-body-container {
  height: 40rem;
}

.tabset-styles {
  height: 39rem;
}

:host nb-tab {
  padding: 1.25rem;
}
.reporting-container {
  margin: 0 auto;
  max-width: 1400px;
}

@media (max-width: 1490px) {
  .tables-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    overflow: auto;  
  }

  .reporting-container {
    margin: 1rem 1.5rem;
    /* overflow-y: auto;
    height: 85vh; */
  }
}

.card-body::-webkit-scrollbar {
  -webkit-appearance: none;
}

.card-body::-webkit-scrollbar:vertical {
  width:10px;
}

.card-body::-webkit-scrollbar-button:increment,.card-body::-webkit-scrollbar-button {
  display: none;
} 

.card-body::-webkit-scrollbar:horizontal {
  height: 10px;
}

.card-body::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.card-body::-webkit-scrollbar-track {
  border-radius: 10px;  
}

.label-dates {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.125rem;
  line-height: 1.75rem;
}